@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  @apply bg-base-100 dark:bg-base-100-dark;
  max-width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.h-screen-no-header {
  height: calc(100vh - 64px);
}

.h-screen-no-header-no-cover {
  height: calc(100vh - 64px - 30rem - 1px);
}

.table-xs :not(thead):not(tfoot) tr {
  @apply text-xs;
}
.table-xs :where(th, td) {
  @apply px-2 py-1;
}

/* 
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */